<div class="row">
    <div class="cell">{{user.name}}</div>
    <div class="cell" >{{user.cpf}}</div>
    <div class="cell" >{{user.telephone}}</div>
    <div class="cell" >{{user.email}}</div>
    <div class="cell">
        <button class="btn-list" (click)="removeItem(index)" >Remover</button>
    </div>
</div>

