.row{
    display: flex;
    background: #fff;
    padding: 0px 15px 0px 15px;
}
.cell{
    width: 360px;
    text-align: center;
    display: table-cell;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 14px;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.btn-list{
    font-size: 14px;
    width: auto;
}