<h2 class="center">Formulario de cadastro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
            <div class="form-group input-group">
                <label>Nome Completo:</label>
                <input type="text" formControlName="nome" placeholder="Seu nome"  maxLength="40" [ngClass]="{ 'input-erro': submitted && f.nome.errors }" />
                <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                    <div *ngIf="f.nome.errors.required">Nome Completo não pode ser vazio.</div>
                </div>
            </div>
            <div class="form-group input-group">
                <label>CPF:</label>
                <input type="text" formControlName="cpf" placeholder="111.111.111-11" maxLength="14" (input)="onKeypressCPF($event)" [ngClass]="{ 'input-erro': submitted && f.cpf.errors }" />
                <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
                    <div *ngIf="f.cpf.errors.required">CPF não pode ser vazio.</div>
                    <div *ngIf="f.cpf.errors.pattern">CPF inválido.</div>
                </div>
            </div>
            <div class="form-group input-group">
                <label>Telefone:</label>
                <input type="text" formControlName="telephone" placeholder="(11) 1111-1111"  maxLength="15" (input)="onKeypressTel($event)" [ngClass]="{ 'input-erro': submitted && f.telephone.errors }" />
                <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                    <div *ngIf="f.telephone.errors.required">Telefone não pode ser vazio.</div>
                    <div *ngIf="f.telephone.errors.wrongpattern">Telefone inválido.</div>
                </div>
            </div>
            <div class="form-group input-group">
                <label>Email:</label>
                <input type="text" formControlName="email" placeholder="meu_email@email.com" maxLength="40" [ngClass]="{ 'input-erro': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email não pode ser vazio.</div>
                    <div *ngIf="f.email.errors.email">Email inválido.</div>
                </div>
            </div>
            <button>Cadastrar</button>
        </div>
    </form>