.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 33px 30px;
}
.center {
    display: flex;
    justify-content: center;
}
.button-container{
    margin-top: 2em;
}

.input-group{
    display: flex;
    flex-direction: column;
}
label {
    padding-bottom: 1em;
    padding-top: 2em;
}
input {
    border-width: 0 0 2px;
    font-size: 18px;
    border-color: #efeeed;
    color: #efeeed;
    width: 20em;
}
input:focus {
    outline: none;
    border-width: 0 0 2px;
    font-size: 18px;
    color: #333333;
    width: 20em;
}
.input-erro{
    border-width: 0 0 2px;
    font-size: 18px;
    border-color: #eb4a46;
    color: #eb4a46;
    width: 20em;
}
.invalid-feedback{
    color: red;
}