.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 33px 30px;
}

button {
    border: none;
    background-color: #00c8b3;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3em;
    width: 20em;
    padding: 10px;
}

button:hover {
    opacity: 0.7;
}
button:disabled {
    color: #dddcdc;
    background-color: #f6f6f6;
}
.center {
    display: flex;
    justify-content: center;
}
.button-container{
    margin-top: 2em;
}