<h1 class="center">Lista de Dados</h1>
        <div class="container-table">
            <div class="table">
                <div class="row-header">
                    <div class="cell">Nome</div>
                    <div class="cell">CPF</div>
                    <div class="cell">Telefone</div>
                    <div class="cell">E-mail</div>
                    <div class="cell"></div>
                </div>
                <div class="list-row">
                    <app-list-item *ngFor="let user of storageUsers; let i = index" [user]='user' [index]='i' (refresh)="refreshList($event)"></app-list-item>
                </div>
            </div>
        </div>
        <div class="center top-space">
            <button class="novo-usuario" routerLink="/form">Novo Usuário!</button>
        </div>