.center {
    display: flex;
    justify-content: center;
}
.container-table{
    background: #c4d3f6;
    display: flex;
    align-items: center;
    padding: 33px 30px;
}
.table{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.row-header{
    color: #ffffff;
    display: table-row;
    background: #6c7ae0;
}
.cell{
    width: 360px;
    text-align: center;
    display: table-cell;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-space {
    margin-top: 2em;
}
.novo-usuario {
    width: 20em;
}