/* You can add global styles to this file, and also import other style files */
button {
    border: none;
    background-color: #00c8b3;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3em;
    width: 20em;
    padding: 10px;
}

button:hover {
    opacity: 0.7;
    color: #ffffff;
}
button:disabled {
    color: #dddcdc;
    background-color: #f6f6f6;
}